$primary: #0b2b4a;
$secondary: #ebf5fb;
$gray: #a1a1a1;
$disable: #e4e4e4;
$gray-text: #9daab7;
$light-white: #ffffff88;
$primary-alt: #304a65;
$secondary-bg: #ebf5fbee;
$gray-bg: #f1f1f1;
$primary-20: #9DAAB7;
$green: #20bf55;
$orange: #ef9452;
$error: #e83c25;
